/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS variables for color scheme */
:root {
  --foreground-color: rgb(0, 0, 0);
  --background-start-color: #f3f4f6;
  /* Light gray */
  --background-end-color: #ffffff;
  /* White */
  --primary-color: #ea510f;
  /* Purple */
  --hover-color: #e91f0d;
  /* Lighter shade of purple */
  --title-hover-color: #f3f87a;
  /* Yellowish */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
:root {
    --foreground-color: rgb(0, 0, 0);
    --background-start-color: #f3f4f6;
    /* Light gray */
    --background-end-color: #ffffff;
    /* White */
    --primary-color: #ea510f;
    /* Purple */
    --hover-color: #e91f0d;
    /* Lighter shade of purple */
    --title-hover-color: #f3f87a;
    /* Yellowish */
  }
}

/* General navbar styles */
nav {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Title and logo styles */
.titleb {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove default underline */
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.titleb:hover {
  opacity: 0.8;
  color: var(--title-hover-color); /* Yellowish color on hover */
}

.titleb img {
  margin-right: 0.5rem; /* Margin between the logo and text */
}

/* Button container styles */
.button-container {
  display: flex;
  gap: 1rem; /* Gap between buttons */
}

/* Button styles */
.buttons {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border-radius: 0.25rem; /* Add some border radius */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  background-color: var(--primary-color); /* Use primary color for background */
}

.buttons:hover {
  background-color: var(--hover-color); /* Lighter shade of primary color on hover */
  color: var(--title-hover-color); /* Change text color on hover */
}
